# API
API_BASE_URL=http://10.215.39.31:22205
API_AUTH_URL=http://10.215.39.31:22206/oauth2/token
API_CLIENT_ID=pur-auth
API_USERNAME=seu_usuario
API_PASSWORD=sua_senha

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=noc
MYSQL_USER=user
MYSQL_PASSWORD=senha

# Sync
PAGE_SIZE=100
INITIAL_DATE=2025-01-01T00:00
LOG_LEVEL=INFO
